<h1>People</h1>

<ul class="list-group">
	<li class="list-group-item" ng-repeat="person in people">
		<a href="/#/people/{{person.name}}">{{person.name}}</a> ({{person.age}})
	</li>
</ul>

<!-- ng-submit calls a function available on scope when form is submitted (enter is pressed or button is clicked), see more info above button -->
<form class="form-group" ng-submit="saveNewPerson(newName, newAge)">
	<label>
		Name
		<!-- ng-model binds to scope (can be accessed at any time in controller from $scope.newUsername) -->
		<input type="text" class="form-control" placeholder="Bear Grylls" ng-model="newName">
	</label>

	<label>
		Age
		<!-- ng-model binds to scope (can be accessed at any time in controller from $scope.newAge) -->
		<input type="number" placeholder="12" class="form-control" ng-model="newAge">
	</label>

	<!-- ng-click binds clicks on button to a function in scope (made available by controller) -->
	<!-- The code inside ng directives like ng-click is actual javascript, and scope is available -->
	<button type="submit" class="btn btn-primary">Save</button>
</form>
